<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="relative.css">
</head>
<body>
  <style>
body {
    background-color: aqua;
    text-align: center;
}
p {
  color:maroon;
}
a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
  </style>
  <h1>Form Submission Result</h1>
  <p>Thank you, <a>{{nah}}</a>, for submitting the form!</p>
  <p>Student ID: <a>{{studentId}}</a></p>
  <p>Birthday: <a>{{birth}}</a></p>
  <p>Email Adress: <a>{{eMail}}</a></p>
  <p>Mobile Number: <a>{{num}}</a></p>
  <p>Grade Level: <a>{{gL}}</a></p>
  <p>Living Situation: <a>{{place}}</a></p>
  <p>Club: <a>{{club}}</a></p>
  <p>Reason: <a>{{reason}}</a></p>
</body>
</html>
